
@mixin sizedBox ($width: 10px, $height: $width) {
  width: $width;
  height: $height;
}

@each $display in (flex, block, none, inline) {
  .d-#{$display} {
    display: $display;
  }
}

@each $align in (center) {
  .align-items-#{$align} {
    align-items: $align;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-flow: wrap;
}

.flex-column {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

@each $position in (relative, absolute, fixed) {
  .p-#{$position} {
    position: $position;
  }
}

@each $orientation in (row, column) {
  .flex-#{$orientation} {
    flex-direction: $orientation;
  }
}

@media (min-width: 768px) {
  @each $display in (flex, block, none) {
    .d-md-#{$display} {
      display: $display;
    }
  }

  @each $align in (center) {
    .align-items-md-#{$align} {
      align-items: $align;
    }
  }

  @each $align in (center) {
    .justify-content-md-#{$align} {
      justify-content: $align;
    }
  }

  @each $orientation in (row, column) {
    .flex-md-#{$orientation} {
      flex-direction: $orientation;
    }
  }
}

@media (min-width: 768px) {
  @each $display in (flex, block, none, inline) {
    .d-md-#{$display} {
      display: $display;
    }
  }
}